.searchBlock {
  position: relative;
  max-width: 400px;
  width: 100%;
}
.searchBlock__input {
  border: 2px solid rgb(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 100%;
  border-radius: 12px;
  padding-left: 50px;
  font-size: 18px;
  color: #6f6f6f;
  font-weight: bold;
}
.searchBlock__searchIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 10px;
  top: 12px;
  opacity: 0.3;
}
.searchBlock__closeIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 12px;
  transition: opacity 0.3s ease-in-out;
}
.searchBlock__closeIcon:hover {
  opacity: 0.8;
}
